<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddUserToDBServlet</servlet-name>
        <servlet-class>data.AddUserToDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <servlet-class>photo.catalog.DisplayPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserServlet</servlet-name>
        <servlet-class>photo.catalog.CheckUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteDownloadServlet</servlet-name>
        <servlet-class>photo.catalog.WriteDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>cart.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DsiplayInvoiceServlet</servlet-name>
        <servlet-class>cart.DsiplayInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <servlet-class>cart.CompleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCartUserServlet</servlet-name>
        <servlet-class>cart.CheckCartUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUserServlet</servlet-name>
        <servlet-class>cart.ProcessUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>data.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUser</servlet-name>
        <servlet-class>photo.catalog.ValidateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDB</servlet-name>
        <servlet-class>data.InsertDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>photo.catalog.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>data.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>logInSystem.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>photo.catalog.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUploadServlet</servlet-name>
        <servlet-class>Admin.AdminUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>Admin.AdminDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoCatalogServlet</servlet-name>
        <servlet-class>photo.catalog.PhotoCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOut</servlet-name>
        <servlet-class>Admin.AdminLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPhoto</servlet-name>
        <servlet-class>photo.catalog.EditPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPhotoServlet</servlet-name>
        <servlet-class>photo.catalog.SelectPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMeMyProfile</servlet-name>
        <servlet-class>logInSystem.ShowMeMyProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserToDBServlet</servlet-name>
        <url-pattern>/AddUserToDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <url-pattern>/DisplayPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserServlet</servlet-name>
        <url-pattern>/CheckUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteDownloadServlet</servlet-name>
        <url-pattern>/WriteDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/DisplayCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DsiplayInvoiceServlet</servlet-name>
        <url-pattern>/DsiplayInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <url-pattern>/CompleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCartUserServlet</servlet-name>
        <url-pattern>/CheckCartUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUserServlet</servlet-name>
        <url-pattern>/ProcessUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUser</servlet-name>
        <url-pattern>/ValidateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDB</servlet-name>
        <url-pattern>/InsertDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUploadServlet</servlet-name>
        <url-pattern>/AdminUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/AdminDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoCatalogServlet</servlet-name>
        <url-pattern>/PhotoCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOut</servlet-name>
        <url-pattern>/AdminLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPhoto</servlet-name>
        <url-pattern>/EditPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPhotoServlet</servlet-name>
        <url-pattern>/SelectPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMeMyProfile</servlet-name>
        <url-pattern>/ShowMeMyProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--File uploading settings-->
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
           
        </param-value>
    </context-param>
</web-app>
